<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<title>Chatbot</title>
	<style>
		.chat-container {
			border: 1px solid #ccc;
			width: 300px;
			padding: 10px;
			margin: 0 auto;
			background-color: #f9f9f9;
		}

		.chat-message,
		.chat-message-bot {
			margin: 10px;
			padding: 5px;
			background-color: #e0f0f0;
			border-radius: 5px;
		}

		.chat-message-bot {
			background-color: lightgreen;
		}

		#user-input {
			margin: 10px;
			padding: 5px;
			border: 1px solid #ccc;
			border-radius: 5px;
		}

		#submit-button {
			background-color: #007bff;
			color: white;
			border: none;
			padding: 5px 10px;
			cursor: pointer;
		}

		#image-upload {
			display: none;
			/* Hide the default input */
		}

		#image-upload-button {
			background-color: transparent;
			color: #007bff;
			border: none;
			cursor: pointer;
		}

		.butons-container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
		}

		.chat-image {
			width: 100%;
			height: auto;
		}
	</style>
</head>

<body>
	<div class="chat-container">
		<div class="chat-message-bot">Welcome to the Chatbot! <br> How can I help you?</div>
		<div class="input-text"></div>
		<div class="butons-container">
			<input type="text" id="user-input">
			<input type="file" id="image-upload">
			<label for="image-upload" id="image-upload-button">
				<span class="material-symbols-outlined">
					add_photo_alternate
				</span>
			</label>
			<button id="submit-button">Send</button>
		</div>
	</div>

	<script>
		const chatContainer = document.querySelector('.chat-container');
		const inputContainer = document.querySelector('.input-text');
		const userInput = document.getElementById('user-input');
		const submitButton = document.getElementById('submit-button');
		const imageUploadButton = document.getElementById('image-upload-button');
		const imageUploadInput = document.getElementById('image-upload');
		let session_actve = false;

		function getCookie(name) {
			let cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				const cookies = document.cookie.split(';');
				for (let i = 0; i < cookies.length; i++) {
					const cookie = cookies[i].trim();
					// Check if the cookie name matches the csrf token cookie name used by Django
					if (cookie.startsWith(name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}

		function displayUserMessage(message) {
			const messageDiv = document.createElement('div');
			messageDiv.className = 'chat-message';
			messageDiv.textContent = `You: ${message}`;
			inputContainer.appendChild(messageDiv);
			userInput.value = '';
		}

		function displayChatBotMessage(message) {
			const messageDiv = document.createElement('div');
			messageDiv.className = 'chat-message-bot';
			messageDiv.textContent = `${message}`;
			inputContainer.appendChild(messageDiv);
		}

		function handleImageUpload() {
			const file = imageUploadInput.files[0];
			if (file) {
				const formData = new FormData();
				formData.append('image', file);

				// Display the uploaded image in the chat
				const img = document.createElement('img');
				img.src = URL.createObjectURL(file);
				img.alt = 'Uploaded Image';
				img.className = 'chat-image';
				inputContainer.appendChild(img);

				fetch('/api/send-image/', {
					method: 'POST',
					body: formData,
					headers: {
						'X-CSRFToken': getCookie('csrftoken'),
					},
				})
					.then(response => {
						if (response.ok) {
							return response.blob(); // Get the image file as a blob
						} else {
							throw new Error('Image upload failed');
						}
					})
					.then(blob => {
						displayChatBotMessage('Cool image! Check out my image!')
						const imgElement = document.createElement('img');
						imgElement.src = URL.createObjectURL(blob);
						imgElement.alt = 'Fetched Image';
						imgElement.className = 'chat-image';
						inputContainer.appendChild(imgElement);
						imageUploadInput.value = null;
					})
					.catch(error => {
						console.error('Error uploading image:', error);
					});
			}
		}

		imageUploadButton.addEventListener('click', () => {
			console.log("here");
			event.preventDefault();
			imageUploadInput.click();
		});

		imageUploadInput.addEventListener('change', handleImageUpload);

		function checkSessionExpiration() {
			fetch('/check-session-expiration/')
				.then(response => response.json())
				.then(data => {
					if (data.message === 'Session ended') {
						displayChatBotMessage('Your session has ended. Please enter your phone number! eg +38978111222')
						session_actve = false;
					} else if (data.message === 'Session does not exist.') {
						alert('Session does not exist.');
					} else {
						console.log('Session is active.');
						session_actve = true;
					}
				})
				.catch(error => console.error('Error checking session expiration:', error));;
		}
		setInterval(() => { checkSessionExpiration(); }, 60000);

		function triggerSessionUpdate() {
			fetch('/update-session-expiration/')
				.then(response => {
					if (response.status === 200) {
						console.log('Session updated successfully');
					} else {
						console.error('Session update failed');
					}
				})
				.catch(error => {
					console.error('Error while updating session:', error);
				});
		}

		function saveMessage(message) {
			fetch('/api/receive_message/', {
				method: 'POST',
				body: JSON.stringify({ 'message': message }),
				headers: {
					'Content-Type': 'application/json',
					'X-CSRFToken': getCookie('csrftoken'),
				},
			})
				.then(response => response.json())
				.then(data => {
					if (data) {
						console.log(data.message);
					}
				})
				.catch(error => {
					console.error('Error while updating session:', error);
				}
				);
		}


		function checkPhoneNumberForFraud(phone) {
			fetch('/api/check-fraud/', {
				method: 'POST',
				body: JSON.stringify({ 'phone_number': phone }),
				headers: {
					'Content-Type': 'application/json',
					'X-CSRFToken': getCookie('csrftoken'),
				},
			})
				.then(response => response.json())
				.then(data => {
					if (data) {
						displayChatBotMessage(data.message);
					}
				})
				.catch(error => {
					console.error('Error checking phone number for fraud:', error);
				});
		}

		function getSearchedArticles(message) {
			fetch('/api/get_article/', {
				method: 'POST',
				body: JSON.stringify({ 'message': message }),
				headers: {
					'Content-Type': 'application/json',
					'X-CSRFToken': getCookie('csrftoken'),
				},
			})
				.then(response => response.json())
				.then(data => {
					if (data && Array.isArray(data.message)) {
						const articles = data.message;
						articles.forEach(article => {
							displayChatBotMessage("Chatbot: " + article.title);
							displayChatBotMessage(article.content);
						});
					} else if (data && data.message) {
						displayChatBotMessage("Chatbot: " + data.message);
					}
				})
				.catch(error => {
					console.error('Error articles:', error);
				});
		}

		submitButton.addEventListener('click', () => {
			const user_message = userInput.value;
			saveMessage(user_message)
			displayUserMessage(user_message);
			chatbotLogic(user_message);
		});

		function chatbotLogic(message) {
			let usr_msg_lower = message.toLowerCase();
			const words = usr_msg_lower.split(/\s+/);
			let match_found = false;
			for (let word of words) {
				const phone_regex = /(\+\d{1,3}\s?)?(\()?\d{3}(\))?[-.\s]?\d{3}[-.\s]?\d{4}/g;
				const phone_numbers = word.match(phone_regex);
				if (!session_actve && phone_numbers === null) {
					checkSessionExpiration()
					return
				}
				if (word.includes("hi")) {
					displayChatBotMessage("Chatbot: Hi, how may I be of service.");

					match_found = true;
					return
				}
				if (word.includes("article")) {
					getSearchedArticles(message);

					match_found = true;
					return
				}
				if (phone_numbers && phone_numbers.length > 0) {
					for (let phone_number of phone_numbers) {
						;
						checkPhoneNumberForFraud(phone_number);
					}
					match_found = true;
					return;
				}
				if (word.includes("bye")) {

					displayChatBotMessage("Chatbot: See you later!");
					match_found = true;
					return
				}
				if (word.includes("thanks") || word.includes("thank")) {
					displayChatBotMessage("Chatbot: You are welcome!");
					match_found = true;
					return
				}

			};
			if (!match_found) {
				displayChatBotMessage("Chatbot: Sorry, I did not understand your message.");
			}
			triggerSessionUpdate()
		};
		window.onload = function () {
			checkSessionExpiration();
		};
	</script>
</body>

</html>